.important-title-page{
 font-size: 3.75rem;
 margin-bottom: 1rem;
 font-family: 'Mulish';
}

.text-roboto{
 font-family: 'Roboto';
}

.subtitle-page{
 font-size: 1.5rem;
 margin-bottom: 1rem;
}

.link-color{
 color: #5023c7;
 font-weight: bold;
 font-family: 'Roboto';
}

.blog-link:hover{
 cursor: pointer;
}

.link-color:hover{
 text-decoration: underline;
}

.h-all{
 height: 100%;
}

hr{
 margin-top: 1.5rem;
 margin-bottom: 1.5rem;
}

.pd-screen{
 padding-left: 10%;
 padding-right: 10%;
}

@media(max-width: 600px){
 .pd-screen{
  padding-left: 1rem;
  padding-right: 1rem;
 }
}